@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    list-style: none;
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: linear-gradient(135deg, #02040a, #0a1a2e);
	line-height: 1;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}